* {
  box-sizing: border-box;
}

@font-face {
  font-family: borel;
  src: url(font/Borel/Borel-Regular.ttf);
}

@font-face {
  font-family: momo;
  src: url(font/Momo_Signature/MomoSignature-Regular.ttf);
}

@font-face {
  font-family: nanum;
  src: url(font/Nanum_Pen_Script/NanumPenScript-Regular.ttf);
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
}

nav a{
  background-color: #f4b0c6;
  border-radius: 40px;
  border-color: black;
  text-decoration: none;
  padding: 10px;
  color: #494949;
  font-weight: bold;
  font-family: nanum;
  font-size: large;
}

/* Left and right halves */
#left-side, #right-side {
  flex: 1;
  position: relative;
  height: 100%;
}

#left-side {
  background: #ffd3e2;
}

#right-side {
  background: #fff0d9;
  overflow: hidden; /* keeps stickers from escaping visually */
}

/* Sticker style */
.sticker {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  cursor: move;
}

.sticker img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none; /* ensures dragging works over the image */
}

#left-content{
  margin: 40px;
  padding: 40px;
  background-color: white;
  border-radius: 40px;
  height: 88%;
}