/* ---------------- GLOBAL STYLES ---------------- */
body {
  font-family: sans-serif;
  background-color: #f4f4f4;
  text-align: center;
  margin: 0;
  padding: 20px;
  height: 100vh;
  display: flex;
}

h1 {
  margin-bottom: 20px;
}
/* ---------------- Landing Page LAYOUT ---------------- */

/* google button */
.login-section {
  background-color: #fff7fb;
  border: 2px solid #ffcce0;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0px 8px 20px rgba(255, 192, 203, 0.3);
}

.g_id_signin {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 15px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.g_id_signin:hover {
  transform: translateY(-3px);
  box-shadow: 0px 4px 15px rgba(255, 182, 193, 0.4);
}

footer {
  text-align: center;
  font-family: "nanum", sans-serif;
  color: #777;
  margin-top: 30px;
  font-size: 14px;
}
.login-card {
  background-color: #fff0f7;
  border-radius: 16px;
  padding: 25px;
  border: 1.5px dashed #ff9ecf;
  text-align: center;
  position: relative;
}

.login-card::before {
  content: "🎀";
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: borel;
  src: url(fonts/Borel/Borel-Regular.ttf);
}

@font-face {
  font-family: momo;
  src: url(fonts/Momo_Signature/MomoSignature-Regular.ttf);
}

@font-face {
  font-family: nanum;
  src: url(fonts/Nanum_Pen_Script/NanumPenScript-Regular.ttf);
}


nav a{
  background-color: #f4b0c6;
  border-radius: 40px;
  border-color: black;
  text-decoration: none;
  padding: 10px;
  color: #494949;
  font-weight: bold;
  font-family: nanum;
  font-size: large;
}

/* Left and right halves */
#left-side, #right-side {
  flex: 1;
  position: relative;
  height: 100%;
}

#left-side {
  background: #ffd3e2;
}

#right-side {
  background: rgb(248, 236, 224);
  overflow: hidden; /* keeps stickers from escaping visually */
}

#journal-right{
  z-index: -1; 
  display: flex;
  margin: auto;
  height: 80%;
  margin-top: 10%;
  margin-bottom: 10%;
  border-radius: 20px;
  border: 10px solid #bea995;
}

/* Sticker style */
.sticker {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  cursor: move;
}

.sticker img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none; /* ensures dragging works over the image */
}

#left-content{
  margin: 40px;
  padding: 40px;
  background-color: white;
  border-radius: 40px;
  height: 88%;
}

